<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/db114017ad.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>
    <header>
        <div>¡20 % de descuento en todos los productos!</div>
        
        <span>
            <img src="../img/Tienda.png" alt="Logo tienda">
            <h1>Nombre Tienda</h1>
        </span>
    </header>

    <main>
        
        
    </section>
    </main>
    <footer><p>Todos los derechos reservados a FRONT END 1</p></footer>
</body>
</html>